@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Oswald:wght@200..700&display=swap');

:root {
    
    --primary-color: #CFFCFF;
    --secondary-color: #AAEFDF;
    --accent1-color: #9EE37D;
    --accent2-color: #63C132;

    --heading-font: 'Bungee Spice';
    --paragraph-font: 'Oswald';

    --nav-background-color: #fff;
    --nav-link-color: blue;
    --nav-hover-link-color: orange;
    --nav-hover-background-color: #CCCCCC;

    --page-width: 800px;
}

body {
    font-family: var(--paragraph-font);
    background-color: var(--primary-color);
    color: var(--nav-link-color);
    max-width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    padding: 0;
}

header {
    background-color: var(--nav-background-color);
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-between;
}

/*create a well designed header that will also be used on 
the other pages of this rafting site to provide a common 
look and feel across the site.*/

header img {
    width: 50%;
    height: auto;
    justify-self: center;
    align-self: center;
}

header nav {
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px 40px;
}

header nav a {
    justify-self: center;
    color: var(--nav-link-color);
    text-decoration: none;
    text-size-adjust: auto;
}

header nav a:hover {
    color: var(--nav-hover-link-color);
}

main {
    text-align: center;
}

.hero {
    position: relative;
    background-color: var(--secondary-color);
    padding: 20px;
    margin-top: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    right: 10px;
    z-index: 1;
}

.hero h1 {
    position: relative;
    font-family: var(--heading-font);
    color: white;
    margin-top: 0;
    z-index: 2;
}

.hero article {
    position: relative;
    text-align: left;
    margin-top: 20px;
    z-index: 2;
}

.hero article img {
    position: relative;
    float: right;
    width: 150px;
    height: auto;
    margin-left: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.hero section {
    margin-top: 20px;
}

.hero section img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: var(--nav-background-color);
    padding: 10px 20px;
    text-align: center;
}

footer p {
    margin: 0;
    color: var(--nav-link-color);
}

.sociallinks {
    margin-top: 10px;
}

.sociallinks a {
    margin: 0 5px;
}

.sociallinks img {
    width: 30px;
    height: 30px;
}


/* Style the History section elements as needed using a CSS 
layout method of your choice and add content. */
#history {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

/* Style the Adventures section of five images to span the 
section horizontal using a CSS layout method. */
#adventure {
    text-align: center;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.image-container img {
    width: 100%;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left, .right {
    padding: 20px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; 
}

.images img {
    width: 300px;
    height: 350px;
}

#myImage {
    display: none;
    max-width: 100%;
    height: auto;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.form-item label {
    flex-basis: 30%;
    text-align: center;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
textarea,
select {
    flex-grow: 1; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid white;
}

input[type="radio"],
input[type="checkbox"] {
    margin-bottom: 0;
    margin-right: 5px;
}

.checkbox-container label {
    display: flex;
    align-items: center; /* Align items vertically */
}

.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Align items vertically */
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}